[project]
	description = Small demo repository to use as an initiation to Gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luc Rochefort (lrochefort-william)
[access "refs/for/refs/*"]
	read = group user/Luc Rochefort (lrochefort-william)
	push = group user/Luc Rochefort (lrochefort-william)
	label-Code-Review = -2..+2 group user/Luc Rochefort (lrochefort-william)
	label-Verified = -1..+1 group user/Luc Rochefort (lrochefort-william)
	rebase = group user/Luc Rochefort (lrochefort-william)
	removeReviewer = group user/Luc Rochefort (lrochefort-william)
	submit = group user/Luc Rochefort (lrochefort-william)
[access "refs/heads/*"]
	read = group user/Luc Rochefort (lrochefort-william)
	create = group user/Luc Rochefort (lrochefort-william)
	push = +force group user/Luc Rochefort (lrochefort-william)
	pushMerge = group user/Luc Rochefort (lrochefort-william)
[access "refs/tags/*"]
	push = +force group user/Luc Rochefort (lrochefort-william)
	pushTag = group user/Luc Rochefort (lrochefort-william)
	pushSignedTag = group user/Luc Rochefort (lrochefort-william)
