[project]
	description = Small demo repository to use as an initiation to Gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lrochefort-william
	owner = group w-buddies
[access "refs/for/refs/*"]
	read = group user/lrochefort-william
	read = group w-buddies
	push = group user/lrochefort-william
	push = group w-buddies
	label-Code-Review = -2..+2 group user/lrochefort-william
	label-Code-Review = -2..+2 group w-buddies
	label-Verified = -1..+1 group user/lrochefort-william
	label-Verified = -1..+1 group w-buddies
	rebase = group user/lrochefort-william
	rebase = group w-buddies
	removeReviewer = group user/lrochefort-william
	removeReviewer = group w-buddies
	submit = group user/lrochefort-william
	submit = group w-buddies
[access "refs/heads/*"]
	read = group user/lrochefort-william
	create = group user/lrochefort-william
	push = +force group user/lrochefort-william
	pushMerge = group user/lrochefort-william
[access "refs/tags/*"]
	push = +force group user/lrochefort-william
	pushTag = group user/lrochefort-william
	pushSignedTag = group user/lrochefort-william
